h{
text-align: center;
font-family: Arial, Helvetica, sans-serif;
font-size: 50px;
color: whitesmoke;
}
body{
    background-image: url(fotodefundoff.jpg);
    background-size: cover;
    margin: 0;
    padding: 0;
    padding-bottom: 0;
}
main{
    background-color: rgb(122, 122, 122);
    margin: 5%;
}




header{
    background-color:yellow;
    margin-top: 0%;
    
}
nav ul{
    box-sizing: border-box;
    padding: 0;
    list-style-type: none;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;   
    padding-bottom: 20px; 
    padding-top: 20px;
}
nav ul li a{
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
    font-size: 32px; 
    

}
.link:hover{
    cursor: pointer;
    font-size: 40px;
    background-color: rgb(255, 235, 52);
    transition: background-color  ease ;
}

@font-face {
    font-family: 'ff';
    src: url('UrbanJungleDEMO.otf');
}
@font-face {
    font-family: 'rubik';
    src: url('Rubik-Bold.ttf');
}
.titulo{

    
    font-size: 50px;
    margin: 0;
    text-align: center;
    font-family: ff;
    color: black;
    padding-top: 25px;
    padding-bottom: 25px;
    text-shadow: 1px 1px 1px whitesmoke,-1px 1px 1px whitesmoke,1px -1px 1px whitesmoke,-1px -1px 1px whitesmoke
}
.img{
    
    margin: 15px;
    float: left;
    
    border: solid 10px yellow;
}
.subtituloff{
    text-align: center;
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 15px;
    border: solid 10px yellow;
    padding-bottom: 15px;
    text-shadow: 1px 1px 1px whitesmoke,-1px 1px 1px whitesmoke,1px -1px 1px whitesmoke,-1px -1px 1px whitesmoke
}
.paragrafo{
    font-size: 20px;
    font-family: rubik;
    padding-bottom: 15px;
    padding-left: 35px;
    text-align: justify;
    padding-right: 15px;
}
.subtitulo{
    
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    margin: 28px;
    text-shadow: 1px 1px 1px whitesmoke,-1px 1px 1px whitesmoke,1px -1px 1px whitesmoke,-1px -1px 1px whitesmoke
}
footer{
    background-color: yellow;
    text-align: center;
    margin: 1px;
}
#footer{
    padding-bottom: 0;
    font-family: rubik;
}
#Footer{
    font-family: rubik;
    
}
#voltar{
    
    color: black;
    
}
article{
    padding-bottom: 15px;
}
.Img{
    float: left;
    margin-left: 65px;
    border: solid 10px yellow;
    margin-right: 35px;

}
.inf{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    margin-left: 35px;
    text-align: justify;
    padding-right: 15px;
    padding-left: 35px;
    padding-top: 10px;
}
.H2{
    padding-right: 15px;
    padding-left: 35px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.lista{
    font-size: 20px;
    padding-bottom: 30px;
}
.listaimg{
    float: left;
    margin-left: 35px;
    padding-top: 0;
    border: solid 10px yellow;
    margin-right: 45px;
}
.mestre{
    font-size: 30px;
    padding-top: 65px;
}