.h1{
text-align: center;
font-family: Arial, Helvetica, sans-serif;
padding-top: 15px;
color: rgb(196, 196, 196);
font-size: 28px;
text-shadow: 1px 1px 1px rgb(0, 0, 0),-1px 1px 1px rgb(0, 0, 0),1px -1px 1px rgb(0, 0, 0),-1px -1px 1px rgb(0, 0, 0)
}
body{
    background-image: url(fotodefundoff.jpg);
    background-size: cover;
    margin: 0;
    padding: 0;
    padding-bottom: 0;
}
article{
    background-color: rgb(122, 122, 122);
    margin: 5%;
    padding-bottom: 15px;
    border: solid 7px red;
}




header{
    background-color:yellow;
    margin-top: 0%;
    
}
nav ul{
    box-sizing: border-box;
    padding: 0;
    list-style-type: none;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;   
    padding-bottom: 20px; 
    padding-top: 20px;
}
nav ul li a{
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
    font-size: 32px; 
    

}
.link:hover{
    cursor: pointer;
    font-size: 40px;
    background-color: rgb(255, 235, 52);
    transition: background-color  ease ;
}

@font-face {
    font-family: 'ff';
    src: url('UrbanJungleDEMO.otf');
}
@font-face {
    font-family: 'rubik';
    src: url('Rubik-Bold.ttf');
}
.titulo{

    
    font-size: 50px;
    margin: 0;
    text-align: center;
    font-family: ff;
    color: black;
    padding-top: 25px;
    padding-bottom: 25px;
    text-shadow: 1px 1px 1px whitesmoke,-1px 1px 1px whitesmoke,1px -1px 1px whitesmoke,-1px -1px 1px whitesmoke
}
.img{
    
    margin: 15px;
    float: left;
    margin-top: 30px;
    border: solid 10px yellow;
}
.subtituloff{
    margin: 5%;
    background-color: yellow;
    text-align: center;
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 15px;
    border: solid 10px yellow;
    padding-bottom: 15px;
    text-shadow: 1px 1px 1px whitesmoke,-1px 1px 1px whitesmoke,1px -1px 1px whitesmoke,-1px -1px 1px whitesmoke
}
.paragrafo{
    font-size: 20px;
    font-family: rubik;
    padding-bottom: 15px;
    padding-left: 35px;
    text-align: justify;
    padding-right: 15px;
    padding-top: 30px;
}
.subtitulo{
    
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    margin: 28px;
    text-shadow: 1px 1px 1px whitesmoke,-1px 1px 1px whitesmoke,1px -1px 1px whitesmoke,-1px -1px 1px whitesmoke
}
footer{
    background-color: yellow;
    text-align: center;
    margin: 1px;
}
#footer{
    padding-bottom: 0;
    font-family: rubik;
}
#Footer{
    font-family: rubik;
    
}
#voltar{
    
    color: black;
    
}
adrticle{
    padding-bottom: 15px;
}
.Img{
    float: left;
    margin-left: 65px;
    border: solid 10px yellow;
    margin-right: 35px;
    margin-top: 30px;
    margin-bottom: 35px;
}
.inf{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    margin-left: 35px;
    text-align: justify;
    padding-right: 15px;
    padding-left: 35px;
    padding-top: 10px;
}
.H2{
    padding-right: 15px;
    padding-left: 35px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-top: 20px;
}
.lista{
    font-size: 20px;
    padding-bottom: 30px;
}
.listaimg{
    float: left;
    margin-left: 35px;
    padding-top: 0;
    border: solid 10px yellow;
    margin-right: 45px;
}
.mestre{
    font-size: 30px;
    padding-top: 65px;
}
.pesquisa{
    width: 400px;
    height: 40px;
padding-left: 15px;
}
#texto{
    width: 350px;
    height: 40px;
    font-size: 20px;
    float: left;
}
.lupa{
    width: 30px;
    height: 30px;
    background-color: yellowgreen;
    padding: 5px 10px;
    cursor: pointer;
}
#texto:focus{
    border: solid 2px yellowgreen;
}
#BoasVindas{
    font-size: 30px;
    font-family: rubik;
    color: whitesmoke;
    margin: 5%;
}
#nome{
    margin-left: 5%;
    width: 150px;
    height: 20px;
    border: solid 3px thistle;
    background-color: rgb(255, 255, 255);
}
#idade{
    width: 150px;
    height: 20px;
    border: solid 3px thistle;
}
#botao{
    width: 40px;
    height: 28px;
    background-color: thistle;
}


